h3 {
	text-align: center;
	color: white;
}

#basket {
	background: gray;
	width: 65%;
	margin: 0 auto;
	overflow-y: scroll;
	min-height: 375px;
	max-height: 375px;
}

.bike {
	background: gray;
	height: 75px;
	margin: 0 auto;
	border: 1px solid;
}

.bikeInformation {
	float: left;
	margin-left: 10px;
}

.bikeInformation h4 {
	margin-bottom: 0px;
}

.bikePrice {
	float: right;
	margin-right: 10px;
}

.removeFromBasket {
	height: 100%;
	background: green;
	float: right;
}

.removeFromBasket input {
	height: 75px;
}

#checkout {
	width: 100%;
	margin-top: 5%;
	text-align: center;
}

#checkout input {
	width: 150px;
	height: 50px;
}
