#brand {
	width: 100%;
	text-align: center;
}

#brand h2 {
	color: white;
}

#bikes {
	width: 65%;
	margin: 0 auto;
	overflow-y: scroll;
	max-height: 606px;
}

.bike {
	background: gray;
	height: 200px;
	margin: 0 auto;
	border: 1px solid;
}

.bike .bikeImage {
	background: brown;
	height: 180px;
	width: 250px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.bike .bikeData {
	height: 180px;
	margin-top: 10px;
	overflow:hidden;
	margin-right: 10px;
}

.bike .bikeData h3 {
	text-align: center;
	height: 60px;
	padding: 0px;
	margin: 0px;
}

.bike .bikeData .brand {
	height: 80px;
	width: 50%;
	float: left;
	text-align: center;
}

.bike .bikeData .price {
	height: 80px;
	width: 50%;
	float: left;
	text-align: center;
}

.bike .bikeData .addToBasket {
	height: 40px;
	text-align: center;
}

.clear {
	clear: both;
}

