#errorMessage {
	margin-top: 5%;
	width: 100%;
	text-align: center;
}

.error {
	color: white;
	font-weight: bold;
	width: 100%;
	font-size: 1.5em;
}

.error a {
	color: white;
}

.error a:HOVER {
	color: blue;
}