#heading {
	width: 60%;
	float: left;
}

#heading {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
}

#currentStatus {
	width: 20%;
	float: left;
	color: white;
}

#shoppingBasket {
	width: 20%;
	float: right;
}

#shoppingBasket h4 {
	float: right;
}

a {
	text-decoration: none;
	color: white;
}

div a:hover {
	color: red;
}

br {
	clear:left;
}